<footer class="bg-light" style="margin-top: 20px;">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <span class="navbar-text">
            &copy; 2025 RubSou
        </span>
        <ul class="navbar-nav d-flex flex-row align-items-center justify-content-end mb-0">
            <li class="nav-item mx-2">
                Phone: <a class="nav-link d-inline" href="tel:+2011188159" style="text-decoration:wavy; color: rgb(12, 65, 188);">+2011188159</a>
            </li>
            <li class="nav-item mx-2">
                Email: <a class="nav-link d-inline" href="mailto:mohamedmostafakheder@outlook.com" style="text-decoration:wavy; color: rgb(12, 65, 188);">mohamedmostafakheder@outlook.com</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link d-inline" href="https://www.linkedin.com/in/mohamed-mostafa-kheder-elsewefi-66775a351/" target="_blank"><img src="https://img.icons8.com/color/48/000000/linkedin.png" alt="LinkedIn"></a>
            </li>
        </ul>
    </div>
</footer>

